<%= form_for :login, :url => :login_create do |f| %>
    <p>
      <%= f.label :mail, '邮箱' %>
      <%= f.text_field :mail %>
    </p>

    <p>
      <%= f.label :password, '密码' %>
      <%= f.password_field :password %>
    </p>
    <p><%= f.button "登录" %></p>
<% end %>